# API Key de Plate Recognizer
# Obtén tu API key gratuita en: https://platerecognizer.com/
EXPO_PUBLIC_PLATE_RECOGNIZER_API_KEY=d9b7ee92d49b30bfeed94e862dc3a9a48c78ffe6
# Configuración opcional
# EXPO_PUBLIC_DEBUG_MODE=true
# EXPO_PUBLIC_API_TIMEOUT=30000 